<div class="container bg">
{{!-- 	<div class="text-center">
	  <img src="assets/images/sparkleburger.gif" class="rounded" alt="Sparkle Burger Image">
	</div> --}}

	<h1 class="text-center">Eat Da Burger!!!</h1>

	<!-- Row for list of burgers entered -->
	<div class="row">
		<!-- Top list: Burgers entered, but not devoured yet -->


		<div class="col-md-5 burger-box" id="not-devoured">
					<br>
		<h2>Burgers Available To Eat!</h2>
			<!-- Pass in data from server.js -->

			<ul class="list-group">
			  {{#each burgers}}
			  	{{#unless devoured}}
						{{>burgers/burgerNotDevoured-block}}
					{{/unless}}
			  {{/each}}
			</ul>
		</div>


		<!-- Forcing a space between the two columns -->
		<div class="col-md-2">
		</div>

		<!-- Bottom list: Burgers devoured -->
		<div class="col-md-5 burger-box" id="devoured">
			<h2>Burgers Devoured!</h2>
			<ul class="list-group">
				{{#each burgers}}
					{{#if devoured}}
						{{> burgers/burgerDevoured-block}}
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>

	<!-- Row for textbox to enter in new burger -->
	<div class="row justify-content-center bottom">
		<div class="col-md-5">
			<form class="create-form">
				<div class="form-group">
					<input class="form-control form-control-lg" type="text" name="burger_name" id="burgerInfo" placeholder="Add Burger!">
					<br></br>
					<button type="submit" class="btn btn-primary btn-lg burger-button">Submit</button>
				</div>
			</form>
		</div>
	</div>
	

</div>